<!--Subject infos-->
<div class="col-sm-3 col-md-2 sidebar">
  <!--Terms-->
  <ul class="nav nav-sidebar">
    <li ng-repeat="info in subjectInfo | filter : {type: 'term'}">
      <a ng-href="{{info.href}}">
        <span class="sidebar-image sidebar-image-term">
          {{info.name}}
        </span>
      </a>
    </li>
  </ul>

  <!--Subjects-->
  <ul class="nav nav-sidebar">
    <li ng-repeat="info in subjectInfo | filter : {type: 'subject'}">
      <a ng-href="{{info.href}}">
        <span class="sidebar-image sidebar-image-subject">
          {{info.name}}
        </span>
      </a>
    </li>
  </ul>

  <!--Headers-->
  <ul class="nav nav-sidebar">
    <li ng-repeat="info in subjectInfo | filter : {type: 'header'}">
      <a ng-href="{{info.href}}">
        <span class="sidebar-image sidebar-image-header">
          {{info.name}}
        </span>
      </a>
    </li>
  </ul>
</div>

<div sidebar-toolbar></div>

<div sidebar-toolbar-remove></div>

<div sidebar-toolbar-add></div>
