.sidebar-toolbar {
  position: fixed;
  bottom: 0;
  background-color: #f5f5f5;
}

.sidebar-toolbar > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.sidebar-toolbar > ul > li {
  display: inline;
}

.sidebar-toolbar > ul > li > a {
  padding: 5px 57px;
}

.sidebar-toolbar > ul > li > a:hover {
  background-color: #ABC;
}

.sidebar-toolbar-unclicked {
  background-color: inherit;
}

.sidebar-toolbar-clicked {
  background-color: #ABC;
}

.sidebar-toolbar-image-add {
  background-image: url('icons/add25x25.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
}

.sidebar-toolbar-image-remove {
  background-image: url('icons/remove25x25.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
}
