<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addSubjectInfoModalLabel" id="addSubjectInfoModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="btn btn-secondary" ng-click="addPopupClick('term')">Term</button>
        <button type="button" class="btn btn-secondary" ng-click="addPopupClick('subject')">Subject</button>
        <button type="button" class="btn btn-secondary" ng-click="addPopupClick('header')">Header</button>
      </div>
      <div class="modal-body">
        <div ng-show="addType == 'term'">
          <div class="contianer">
            <form name="addTermForm">
              <div class="form-group row" ng-class="{ 'has-error': addTermForm.name.$invalid && addTermForm.name.$dirty }">
                <label for="termName" class="col-sm-2 col-form-label col-form-label-sm">
                  Name
                </label>
                <div class="col-sm-10">
                  <input class="form-control form-control-sm" id="termName" placeholder="Name" name="name" ng-model="info.name" required />
                  <p class="help-block" ng-if="addTermNameTaken">
                    The term's name is taken
                  </p>
                </div>
              </div>
              <div class="form-group row" ng-class="{ 'has-error': addTermForm.content.$invalid && addTermForm.content.$dirty }">
                <label for="termTextArea" class="col-sm-2 col-form-label col-form-label-sm">Content</label>
                <div class="col-sm-10">
                  <textarea class="form-control form-control-sm" id="termTextArea" rows="3" placeholder="Content" name="content" ng-model="info.content" required></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div ng-show="addType == 'subject'">
          <div class="contianer">
            <form name="addSubjectForm">
              <div class="form-group row">
                <label for="subjectName" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
                <div class="col-sm-10">
                  <input class="form-control form-control-sm" id="subjectName" placeholder="Name" ng-model="info.name" required />
                </div>
              </div>
              <div class="form-group row">
                <label for="subjectUrl" class="col-sm-2 col-form-label col-form-label-sm">Url</label>
                <div class="col-sm-10">
                  <input class="form-control" type="url" placeholder="http://resourcenest.com" id="subjectUrl" ng-model="info.url" pattern="https?://.+" required>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div ng-show="addType == 'header'">
          <div class="contianer">
            <form name="addHeaderForm">
              <div class="form-group row">
                <label for="HeaderName" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
                <div class="col-sm-10">
                  <input class="form-control form-control-sm" id="headerName" placeholder="Name" ng-model="info.name" required />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-default" data-dismiss="modal" ng-click="addPopupAddClick(addType, info)" ng-disabled="addType === 'term' && addTermForm.$invalid || addType === 'subject' && addSubjectForm.$invalid || addType === 'header' && addHeaderForm.$invalid">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
