<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeSubjectInfoModalLabel" id="removeSubjectInfoModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="contianer">
          <div class="row">
            <div class="col-sm-4">
              <ul class="nav nav-sidebar nav-sidebar-remove-popup">
                <li ng-repeat="info in removePopupSubjectInfoList">
                  <a draggable="true" ondragstart="removePopupDragStarted(event)" ondragend="removePopupDragEnd(event)">
                    <span class="sidebar-image" ng-class="{'sidebar-image-term': info.type === 'term', 'sidebar-image-subject': info.type === 'subject', 'sidebar-image-header': info.type === 'header'}">
                      {{info.name}}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-8 nav-sidebar-remove-popup-dropzone" ondrop="removePopupOnDrop(event)" ondragover="removePopupOnDragOver(event)">
              <ul>
                <li ng-repeat="name in toBeRemoved">
                  {{name}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" ng-click="removePopupClearClicked()">
          Clear
        </button>
        <button type="button" class="btn btn-primary btn-default" data-dismiss="modal" ng-click="removePopupRemoveClicked()" ng-disabled="removeButtonDisabled || toBeRemoved.length === 0">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
